@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Manjari', sans-serif;
}


.manjari-thin {
  font-family: 'Manjari', sans-serif;
  font-weight: 100;
}

.manjari-regular {
  font-family: 'Manjari', sans-serif;
  font-weight: 400;
}

.manjari-bold {
  font-family: 'Manjari', sans-serif;
  font-weight: 700;
}